* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;

    display: flex;
    justify-content: center;
    margin: 0 0 70px 0;

}

main {
  
}

.calc-container {
    padding: 3rem 1.5rem 0 1.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.err-msg {
    display: flex;
    justify-content: center;
    width: 13rem;
    padding: 1rem;
    background: rgba(248, 5, 5, 0.623);
    border-radius: 1rem;
   
    position: absolute;
   top: 160%;
}

.hide {
    display: none;
}


/* v input related styles v */
.input-container {
     display: grid;
    grid-template-areas: 
    "qty dtc"
    "ptc poc";
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#print-cost {
    grid-area: ptc;
}

#qty-input {
    grid-area: qty;
}
#data-cost-input {
    grid-area: poc;
}
#postage-input {
    grid-area: dtc;
}

.input {
    width: 100%;
    padding: .5rem;
}

.dropdown {
    
    width: 100%;
    padding: .5rem;
}

.dropdown-option {

}

/* ^ input related styles ^ */


.total-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "cppsLabel cppsOutput"
    "pcsLabel pcsOutput"
    "tmcLabel tmcOutput"
    "cpptLabel cpptOutput";
}

#cpps { 
    grid-area: cppsLabel;
}
#pcs {
    grid-area: pcsLabel;
}
#tmc {
    grid-area: tmcLabel;
}
#cppt {
    grid-area: cpptLabel;
}
.cppso {
    grid-area: cppsOutput;
}
.pcso {
    grid-area: pcsOutput;
}
.tmco {
    grid-area: tmcOutput; 
}
.cppto {
    grid-area: cpptOutput;
}

.total.name-container {
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.name-container {
    justify-content: center;
    width: 13rem;
}



.btn {

    width: 6rem;
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
    justify-content: center;
}

.clear {
    padding: .5rem;
    justify-content: center;
}

